<div>
    <h2>All Countries</h2>
    <ul id="countries" />
</div>
<div>
    <h2>Search by ID</h2>
    <input type="text" id="prodId" size="5" />
    <input type="button" value="Search" onclick="find();" />
    <p id="countryId" />
</div>

<script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.0.3.min.js"></script>
<script>
    var uri = 'api/countries';

    $(document).ready(function () {
      // Send an AJAX request
      $.getJSON(uri)
          .done(function (data) {
            // On success, 'data' contains a list of countries.
            $.each(data, function (key, item) {
              // Add a list item for the product.
              $('<li>', { text: formatItem(item) }).appendTo($('#countries'));
            });
          });
    });

    function formatItem(item) {
      return item.Id + ': ' + item.Name;
    }

    function find() {
      var id = $('#countryId').val();
      $.getJSON(uri + '/' + id)
          .done(function (data) {
            $('#countries').text(formatItem(data));
          })
          .fail(function (jqXHR, textStatus, err) {
            $('#countries').text('Error: ' + err);
          });
    }
</script>


